<% category.forEach(category =>{%>
    <li><a href="/category/<%=category.slug%>"><%= category.title %> </a></li>
    <% }) %> 
        <ul class="list-unstyled mb-0">
            
           
        </ul>