<% category.forEach(category =>{%>
        <div class="col-sm-6">
        <ul class="list-unstyled mb-2">
        <li><a class="btn btn-secondary  btn-sm mb-1" style="font-weight: 700;" href="/category/<%=category.slug%>"><%=category.title%></a>
        </li>
        </ul>
        </div>
    <% }) %> 
        

    <!-- <div class="card-body">
        <h4 class="card-title">Tags</h4>
        <a class="btn btn-light btn-sm mb-1" href="page-category.html">Work</a>
        <a class="btn btn-light btn-sm mb-1" href="page-category.html">Lifestype</a>
        <a class="btn btn-light btn-sm mb-1" href="page-category.html">Photography</a>
        <a class="btn btn-light btn-sm mb-1" href="page-category.html">Food &amp; Drinks</a>
      </div> -->
            
            
           
        